body {
  background-color:#000;
  font:14px Helvetica,Arial,sans-serif;
  color:blue;
}

section {
  width:800px;
  margin:auto;
}

h1 {
  font: 72px Helvetica,Arial,sans-serif;
  color:#FF0090;
  margin-bottom:5px;

}

p {
  font: 18px Helvetica,Arial,sans-serif;
  color:#FFB8FD;
}
#mc_embed_signup label{
  padding-bottom:0;

}
#mc_embed_signup{
  background:#aaa;
  clear:left;
  font:14px Helvetica,Arial,sans-serif;

}
/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */

#mc-embedded-subscribe.button{
  background-color:#CAFF61;
  color:#737272;

}
#mc-embedded-subscribe.button:hover{
  background-color:#7BB507;
  color:#000;
}
#mc_embed_signup input.email{
  display:inline;
  margin:0;
}

#mc_embed_signup input.button{
  display:inline;
  height:31px;
}
